
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
text{
    color:#000501;

}
.navigation{
    background-color:#2a2b2a;
    min-height: 50px;
}
.logo{
    min-height: 50px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}
.navbar{
    font-size: smaller;
    font-weight: 600;
    list-style: none;
    height: 100%;
}
.nav-linkas{
    text-decoration: none;
    color:white;
}
.nav-linkas:hover{
    color:#000501;
}
.nav-bg:hover{
    color:black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:5px;
    color:black;
    height: 15px;
    width: auto;
}
.hero {
    height: 100vh;
    background-image: url("https://picsum.photos/1920/1080");
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-body {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    height: 60%;
    color:white;

}
.about{
    background-image: url("https://picsum.photos/1920/1080");
    background-size: cover;
    background-repeat: no-repeat;
}
.about p {
background-color: rgba(255, 255, 255, 0.9);
border-radius: 5px;
}
.faq{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.footer{
    bottom: 0;
    background-color:#2a2b2a;
    min-height: 50px;
    color: white;
}
.btn:hover{
    background-color: aqua;
}